wheel>0.25.0
coverage==4.0.3
decorator==4.0.5
Flask==0.10.1
Flask-Login==0.3.2
Flask-SQLAlchemy==2.1
Flask-WTF==0.12
itsdangerous==0.24
Jinja2==2.8
MarkupSafe==0.23
pbr==1.8.1
py==1.4.31
pytest==2.8.4
pytest-cov==2.2.0
six==1.10.0
SQLAlchemy==1.0.9
sqlalchemy-migrate==0.10.0
sqlparse==0.1.18
Tempita==0.5.2
Werkzeug==0.11.2
WTForms==2.0.2
