{% macro render_field_with_errors(field) %}
  <label class="col-sm-2 control-label">{{ field.label }}</label>
  <div class="col-sm-10">
    {{ field(**kwargs)|safe }}
  </div>
    {% if field.errors %}
      <ul>
      {% for error in field.errors %}
        <li>{{ error }}</li>
      {% endfor %}
      </ul>
    {% endif %}
  </p>
{% endmacro %}

{% macro render_field(field) %}
  <div class="col-sm-offset-2 col-sm-10">
    {{ field(**kwargs)|safe }}
  </div
{% endmacro %}


{% macro render_checkbox(field) %}
  <div class="col-sm-offset-2 col-sm-10">
    <div class="checkbox">
      <label>
        <input type="checkbox" id="{{ field.id }}" name="{{ field.name }}">{{ field.label }}
      </label>
    </div>
  </div>
{% endmacro %}