#post-meta {
    color: #995C00;
    font-size: 90%;
}

#post {
    margin-bottom: 20px;
}

.btn-xxs,
.btn-group-xxs > .btn {
  padding: 1px 5px;
  font-size: 10px;
  line-height: 1;
  border-radius: 3px;
}
