<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
  <div class="well well-sm">
    <h2>{{ current_user.nickname }}'s profile</h2>
  </div>
  <dl class="dl-horizontal">
    <dt>Email</dt><dd>{{ user.email }}</dd>
    <dt>Auth token</dt><dd>{{ user.get_auth_token() }}</dd>
    <dt>Password</dt><dd><a class="btn btn-default btn-xs" href="{{ url_for('security.change_password') }}" role="button">Change</a></dd>
  </dl>
  <ul class="list-group">
    {% for post in posts %}
      <li class="list-group-item">
        <div class="container-fluid">
          <div class="col-xs-2">
            <script type="text/javascript">
              document.write(moment("{{ post.timestamp.strftime("%Y-%m-%d %H:%M:%S") }}").fromNow());
            </script>
          </div>
          <div class="col-xs-10">
            {{ post.body }}
            {% if post.badge is equalto('W') %}<span class="pull-right label label-warning">Warning</span>{% endif %}
            {% if post.badge is equalto('E') %}<span class="pull-right label label-danger">Error</span>{% endif %}
            {% if post.badge is equalto('S') %}<span class="pull-right label label-success">OK</span>{% endif %}
            {% if post.badge is equalto('I') %}<span class="pull-right label label-info">Info</span>{% endif %}
          </div>
        </div>
      </li>
    {% endfor %}
  </ul>
{% endblock %}
